[Unit]
Description=Watchdog Service
[Service]
ExecStart=/usr/bin/python3 /home/ridos/bsm/logs/log_controller.py
Restart=always
User=ridos
WorkingDirectory=/home/ridos/bsm/logs
[Install]
WantedBy=multi-user.target
